@{
    ViewData["Title"] = "Detalles de contacto";
}
<h1>@ViewData["Title"]</h1>

<p>Ante cualquier duda o sugerencia no dudes en contactarme por acá:</p>

<ul class="list-unstyled">
    <li><i class="bi bi-linkedin"></i> <a href="https://www.linkedin.com/in/olmax/" target="_blank">Linkedin</a></li>
    <li><i class="bi bi-envelope-fill"></i> maxi97olivera@gmail.com</li>
    <li><i class="bi bi-telephone-fill"></i> +54 3442-470784</li>
    <li><i class="bi bi-github"></i> <a href="https://github.com/MaxiE97/" target="_blank">GitHub</a></li>

</ul>


