@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}


<h1>Login</h1>

<style>
    .btn-custom {
        background-color: lightseagreen; /* Color de fondo verde */
        color: white; /* Color del texto */
        border: none; /* Sin borde */
        padding: 10px 20px; /* Ajusta el padding según necesites */
        cursor: pointer; /* Cambia el cursor a tipo puntero */
        border-radius: 5px; /* Bordes redondeados */
    }

        .btn-custom:hover {
            background-color: lightseagreen; /* Color más oscuro al pasar el mouse */
        }


</style>

<div class="card mb-3" style="min-width: 450px; max-height: 350px; overflow: auto;">
    <div class="card-body">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" style="width: 100%;" />

                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" style="width: 100%;" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Recuerdame" />
                <label class="form-check-label" asp-for="Recuerdame"></label>
            </div>

            <button class="btn-primary btn">Ingresar</button>
            <a class="btn btn-success" asp-action="registro">Crear una nueva cuenta</a>
        </form>
    </div>
</div>
<div class="text-center ">
    <!-- Añade un margen superior con mt-3 si es necesario -->
    <a class="btn btn-custom" asp-action="AccederComoInvitado">Ingresar como invitado</a>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}