@model ReporteTransaccionesDetalladas

@{
    ViewData["Title"] = "Reporte Diario";
}

<partial name="_Submenu" Model="SubmenuTransacciones.Diario" />



<div class="text-center">
    <a asp-action="Crear" class="btn btn-outline-dark btn-lg mb-3">Nueva transacción</a>
    <a asp-action="Transferir" class="btn btn-outline-dark btn-lg mb-3">Nueva transferencia</a>
</div>



<partial name="_ReporteTransaccionesDetalladas" model="Model" />
