@model IEnumerable<Categoria>

@{
    ViewData["Title"] = "Categorías";
}

<style>
    .custom-table th, .custom-table td {
        border: 1px solid #dee2e6 !important; /* Borde sutil para las celdas */
    }

    .custom-header {
        background-color: #6c757d; /* Color de fondo oscuro para el encabezado */
        color: #f8f9fa; /* Color de texto claro para contraste */
    }

    .table-hover tbody tr:hover {
        background-color: #f8f9fa; /* Resalta el hover de las filas con un gris muy claro */
    }
</style>

<h1 style="color: #343a40;">Categorías</h1>
<h5 style="opacity: 0.8; color: #6c757d;" class="mb-4">Esta sección indica la categoría perteneciente a cada transacción, usted podrá añadir y editar cada una de las mismas a su comodidad.</h5>

<a asp-action="Crear" class="btn btn-lg btn-outline-dark mb-2">Añadir categoría</a>

<table class="table custom-table table-hover">
    <thead class="custom-header">
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model)
        {
            <tr style="background-color: #ffffff;">
                <!-- Fondo claro para las filas del cuerpo -->
                <td>
                    <a class="btn btn-outline-primary" asp-action="Editar" asp-route-id="@categoria.Id">Editar</a>
                    <a class="btn btn-outline-danger" asp-action="Borrar" asp-route-id="@categoria.Id">Borrar</a>
                </td>
                <td>@categoria.Nombre</td>
                <td>@categoria.TipoOperacionId.ToString()</td>
            </tr>
        }
    </tbody>
</table>
