#reordenable tr {
    cursor:move;
}

.contenedor-totales {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align:center;
}

.activo{
    color:cornflowerblue
}

.pasivo{
    color:indianred
}

.nav-link-active {
    font-weight: bold;
}
